.playSoundButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	color: var(--color-primary);
	transition: color 0.3s;
	&:hover {
		color: var(--color-primary-hover);
	}
}
