.favoriteButton {
	color: var(--card-favorite-color);
	position: relative;
	&::before {
		content: '';
		position: absolute;
		inset: -0.625rem;
	}
}

.toastIcon {
	color: var(--card-favorite-color);
}
